<div class="p-lower-mv">
  <div class="p-lower-mv__bg">
    <img class="p-lower-mv__img u-desktop" src="./images/lower-mv/<%= page %>__mv-pc@2x.png" alt="<%= alt %>">
    <img class="p-lower-mv__img u-mobile" src="./images/lower-mv/<%= page %>__mv-sp@2x.png" alt="<%= alt %>">
  </div>
  <h2 class="p-lower-mv__title"><%= pageTitle %></h2>
</div>