<div class="p-news">
  <div class="p-news__inner l-inner">
    <div class="p-news__lists">
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-news__list">
        <%- include('../project/_p-news-list', {hover:'yellow', link:'#', category:'お知らせ', text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
    </div>
    <div class="p-news__pagination">
      <%- include('../project/_p-pagination') %>
    </div>
  </div>
</div>