<div class="p-top-content">
  <div class="p-top-content__header">
    <%- include('../component/_c-section-title.ejs',{japaneseTitle:'事業内容', englishTitle:'Content', position:'left'}) %>
  </div>
  <div class="p-top-content__items">
    <% let ary = [
    { text:"経営理念ページへ", i:1},
    { text:"理念1へ", i:2}, 
    { text:"理念2へ", i:3}, 
    { text:"理念3へ", i:4}
    ] %>
    <% ary.forEach(function (value) { %>
    <a href="content.html#a-content<%= value.i %>" class="p-top-content__item">
      <p class="p-top-content__text"><%= value.text %></p>
      <img src="./images/top/top__content-<%= value.i %>@2x.png" alt="content画像<%= value.i %>">
    </a>
    <% }); %>
  </div>
</div>