<div class="p-top-content">
  <span class="c-bgLine-downRight"></span>
  <div class="p-top-content__header">
    <%- include('../component/_c-section-title.ejs',{japaneseTitle:'事業内容', englishTitle:'Content', position:'left'}) %>
  </div>
  <div class="p-top-content__items">
    <% let ary = [
    { id:'content.html',text:"経営理念ページへ", i:1},
    { id:'content.html#a-content1',text:"理念1へ", i:2}, 
    { id:'content.html#a-content2',text:"理念2へ", i:3}, 
    { id:'content.html#a-content3',text:"理念3へ", i:4}
    ] %>
    <% ary.forEach(function (value) { %>
    <a href="<%= value.id %>" class="p-top-content__item">
      <p class="p-top-content__text"><%= value.text %></p>
      <img src="./images/top/top__content-<%= value.i %>@2x.png" alt="content画像<%= value.i %>">
    </a>
    <% }); %>
  </div>
</div>