<div class="p-works-detail">
  <div class="p-works-detail__inner">
    <div class="p-works-detail__single-head">
      <%- include('../project/_p-single-head', {title:'〇〇株式会社様 制作実績', datetime:'2020/06/13', category:'カテゴリ１'}) %>
    </div>
    <div class="p-works-detail__gallery">
      <div class="p-works-detail__gallery-swiper swiper gallery-swiper">
        <!-- メイン -->
        <div class="swiper-wrapper">
          <% for (var i=0; i < 8; i++) { %>
            <div class="swiper-slide">
              <img src="./images/works/works__item-<%= i + 1 %>@2x.png" alt="制作実績の画像">
            </div>
          <% } %>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <!-- サムネイル -->
      <div class="p-works-detail__thumbnail-swiper swiper thumbnail-swiper">
        <div class="swiper-wrapper">
          <% for (var i=0; i < 8; i++) { %>
            <div class="swiper-slide">
              <img src="./images/works/works__item-<%= i + 1 %>@2x.png" alt="制作実績の画像">
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="p-works-detail__comment">
      <div class="p-works-detail__comment-item">
        <%- include('../project/_p-works-comment', {title:'制作のポイント', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
      </div>
      <div class="p-works-detail__comment-item">
        <%- include('../project/_p-works-comment', {title:'デザインのポイント', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
      </div>
      <div class="p-works-detail__comment-item">
        <%- include('../project/_p-works-comment', {title:'その他', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
      </div>
    </div>
    <div class="p-works-detail__pagination-single">
      <%- include('../project/_p-pagination-single') %>
    </div>
  </div>
</div>