<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head',{pageTitle:'CodeUpsチーム開発:ブログ一覧'}) %>

<body>
  <%- include('./common/_p-header') %>
  <div class="l-lower-mv">
    <%- include('./project/_p-lower-mv',{page:'blog',pageTitle:'ブログ',alt:'ブログ'}) %>
  </div>
  <div class="l-breadcrumbs">
    <%- include('./component/_c-breadcrumbs',{pageTitle1:'トップ', pageTitle2:'ブログ記事一覧'}) %>
  </div>
  <main class="l-blog">
    <%- include('./project/_p-blog') %>
    <section class="l-top-contact">
      <%- include('./project/_p-top-contact') %>
    </section>
  </main>
  <%- include('./component/_c-to-top') %>
  <%- include('./common/_p-footer') %>
</body>

</html>