<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head',{pageTitle:'CodeUpsチーム開発:お知らせ'}) %>

<body>
  <header>
    <%- include('./common/_p-header') %>
  </header>
  <div class="l-lower-mv">
    <%- include('./project/_p-lower-mv',{page:'news',pageTitle:'お知らせ',alt:'お知らせ'}) %>
  </div>
  <div class="l-breadcrumbs">
    <%- include('./component/_c-breadcrumbs',{pageTitle1:'お知らせ一覧', pageTitle2:''}) %>
  </div>
  <main>
    <div class="l-news">
      <%- include('./project/_p-news') %>
    </div>
    <section class="l-top-contact">
      <%- include('./project/_p-top-contact', {modifier:'p-top-contact__header--lower'}) %>
    </section>
  </main>
  <%- include('./component/_c-to-top') %>
  <%- include('./common/_p-footer') %>
</body>

</html>