<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head',{pageTitle:'CodeUpsチーム開発:企業概要'}) %>

<body>
  <%- include('./common/_p-header') %>
  <main>
    <section class="l-lower-mv">
      <%- include('./project/_p-lower-mv',{page:'overview',pageTitle:'企業概要',alt:'企業概要'}) %>
    </section>
    <div class="l-breadcrumbs">
      <%- include('./component/_c-breadcrumbs',{pageTitle1:'企業概要', pageTitle2:''}) %>
    </div>
    <div class="l-overview">
      <%- include('./project/_p-overview') %>
      <section class="l-top-contact">
        <%- include('./project/_p-top-contact', {modifier:'p-top-contact__header--lower'}) %>
      </section>
      <%- include('./component/_c-to-top') %>
    </div>
  </main>
  <%- include('./common/_p-footer') %>
</body>

</html>