<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head',{pageTitle:'CodeUpsチーム開発:サンクスページ'}) %>

<body>
  <div class="siteWrapper">
    <header>
      <%- include('./common/_p-header') %>
    </header>
    <main>
      <section class="l-thanks">
        <%- include('./project/_p-thanks') %>
      </section>
    </main>
    <%- include('./component/_c-to-top') %>
    <%- include('./common/_p-footer') %>
  </div>
</body>

</html>